/**
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';


import { compose } from 'redux';


{{#if wantActionsAndReducer}}
import injectReducer from '../utils/injectReducer';
import reducer from '../reducers/{{ properCase name }}.reducer';
{{/if}}

function {{ properCase name }}() {
  return (
    <div>
   
    </div>
  );
}

{{ properCase name }}.propTypes = {
  dispatch: PropTypes.func.isRequired,
};

function mapDispatchToProps(dispatch) {
  return {
    dispatch,
  };
}

{{#if wantActionsAndReducer}}
const withConnect = connect(mapDispatchToProps);

const withReducer = injectReducer({ key: '{{ lowerCase name }}', reducer });
{{else}}
const withConnect = connect(null, mapDispatchToProps);
{{/if}}

export default compose(
{{#if wantActionsAndReducer}}
  withReducer,
{{/if}}
  withConnect,
)({{ properCase name }});
